- pipeline.id: pipe-test-1
  pipeline.workers: {{ls_workers}}
  path.config: "/etc/logstash/conf.d/test-file.conf"

- pipeline.id: pipe-test-2
  pipeline.workers: {{ls_workers}}
  path.config: "/etc/logstash/conf.d/test-file-2.conf"
